@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

p {
    font-family: 'Gowun Batang', serif;
    font-size: 17px;
    text-align: center;
    opacity: 0.5;
}

.font1 {
    font-size: 22px;
    margin-top: 70px;
}
.font2 {
    font-size: 18px;
}
.font3 { 
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: -15px;
    
}
.font4 {
    font-size: 16px;
}
.font07 {
    margin-bottom: 40px;
}

.font8 {
    margin-right: 130px;
    margin-bottom: -30px;
}
.font10 {
    margin-right: 130px;
    margin-top: -25px;
    margin-bottom: 20px; 
}
.bold01 {
    margin-left: 120px;
    font-size: 19px;
    margin-top: -44px;
    font-weight: 700;
}
.font12 {
    margin-right: 130px;
    margin-bottom: -25px;
}
.font14 {
    margin-right: 130px;
    margin-top: -25px;
}
.bold02 {
    margin-left: 120px;
    font-size: 19px;
    margin-top: -60px;
    font-weight: 700;
}

.font16 {
    margin-bottom: -10px;
}
.font19 {
    color: rgb(169, 196, 162);
    opacity: 1;
}

.font23 {
    color: rgb(169, 196, 162);
    opacity: 1;
    font-size: 19px;
}
.font25 {
    color: rgb(169, 196, 162);
    opacity: 1;
    font-size: 19px;
}
.font26 {
    margin-bottom: -10px;
}
.font27 {
    margin-bottom: 30px;
}
.font33 {
    color: rgb(169, 196, 162);
    opacity: 1;
    font-size: 19px;
    font-weight: 700;
}
.font34 {
    margin-bottom: -10px;
    font-size: 16px;
}
.font35 {
    color: rgb(169, 196, 162);
    opacity: 1;
    margin-bottom: -10px;
}
.font36 {
    color: rgb(169, 196, 162);
    opacity: 1;
    margin-bottom: 70px;
}
.font37 {
    margin-right: 100px;
    margin-bottom: -42px;
    margin-top: -50px;
}
.font38 {
    margin-left: 100px;
}
.item {
    width: 257px;
    height: 38px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.box {
 width: 390px;
 height: 396px;
 background-color: rgb(169, 196, 162);
 margin-top: 50px;
}

.section input[id*="slide"] {
    display: none;
}
.section .slidewrap {
    max-width: 390px;
    margin: 0 auto;
    overflow: hidden;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .15s;
}
.section .slidelist > li > a {
    display: block;
    position: relative;
}
.section .slidelist > li > a img {
    width: 100%;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section .slidelist .left {
    left: -20px;
    background: url('./images tlsgo/left.png') center  center / 50% no-repeat;
}
.section .slidelist .right {
    right: -20px;
    background: url('./images tlsgo/right.png') center  center / 50% no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.section [id="slide06"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}

.img-box {
    width: 351px;
    height: 378px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    
}

.img-box2 {
    width: 351px;
    height: 383px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 65px;
}

.img-box3 {
    width: 43px;
    height:20px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    
}

.img-box4 {
    width: 351px;
    height: 357px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    margin-bottom: 30px;
}

.img-box5 {
    width: 351px;
    height: 350px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-top: 55px;
}

.img-box6 {
    width: 351px;
    height: 275px;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 50px;
}


.imagee {
    width: 100%;
}
.images002 {
    width: 100%;
    height: 100%;
}
.images003 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: -5px;
}
.images004 {
    width: 100%;
}
.images005 {
    width: 100%;
}
.images006 {
    width: 100%;
}
.images007 {
    width: 100%;
    
}
.images10 {
    width: 50px;
    height: auto;

}